@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-synthesis: none;
}

.input-field {
  @apply w-full p-3 border text-[#0a0a0a] border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.btn-submit {
  @apply bg-[#0a0a0a] text-white py-2 px-4 rounded-lg hover:bg-[#0a0a0a] transition-colors w-full;
}

